/* ==============================================================
Animations
============================================================== */
@keyframes slidebottom {
    from {
      opacity: 0;
      transform: translateY(10px)
    }
    to {
      opacity: 1;
      transform: translateY(0px)
    }
}
@keyframes remove {
    from {
      background: transparent;
      opacity:1
    }
    to {
      background: $delete-botton;
      opacity:0
    }
}
@keyframes slidetop {
    from {
      opacity: 0;
      transform: translateY(-20px)
    }
    to {
      opacity: 1;
      transform: translateY(0)
    }
}
