/* COLORS
	- Default color (white)
	- Delete button (red)
	- Background Dark (Dark Blue)
	- Background Light (Light Blue)
*/
$white: #ffffff;
$delete-botton: #793952;
$bg-dark: #002650;
$bg-light: #3a56a5;

/* FONTS
	- Default Font Family (Helvetica Neue, Helvetica, Arial, sans-serif)
*/
$font-family: Helvetica, Arial, sans-serif;
